<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Blackout</title>
<link rel="stylesheet"  href="/jquery.mobile-1.1.0.min.css" />
<script src="/jquery.min.js"></script>
<script src="/jquery.eventsource.js"></script>
<script src="/jquery.mobile-1.1.0.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/clientjs/{BLACKOUT_ID}"></script>
</head>

<body>
<div id="dyn" data-role="page">
  <div data-role="header"><h1></h1></div>
  <div data-role="content"></div>
</div>
</body>
</html>
